{% extends "base.html" %}

{% block content %}
    <h1>Привет!</h1>
    <h4>Данный сайт создан в качестве проекта Яндекс.Лицея. Он представляет книгу Эрнаста Клайна "Первому игроку приготовиться"</h4>
    <br>
    <h3>Вот что он умеет:</h3>
    <h5>▶ SNOW - Эта страница с краткой информацией</h5>
    <h5>▶ Скачать - Там вы можете скачать книгу в разных форматах</h5>
    <h5>▶ Фото - Картинки, которые автоматически подгружаются, если их добавить в конкретную категорию (static/img/pics)</h5>
    <h5>▶ О продукте - Краткий сюжет, персонажи, биография автора</h5>
    <h5>▶ Вход - Вход зарегестрированных пользователей</h5>
    <h5>▶ Регистрация - создание аккаунта (в форме предусмотрены все возможные ошибки при вводе некорректных данных пользователем)</h5>
    <br>
    <h4>Сайт предусматривает неправильные URL, введённые пользователем. В таких случаях пользователь попадает на страницу с ошибкой, где находится ссылка на гланую страницу сайта</h4>
{% endblock %}